#welcome-banner{
    text-align: center;
    margin-bottom: 1.5rem;
}
.dashboard-wrapper{
    padding: 1.2rem;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 15px;
}

.chart-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.pie-and-count-up-chart-wrapper {
    display: grid;
    grid-template-columns: 1fr 20vw;
    gap: 2rem;
}